<%= form_with(model: job_seeker, local: true) do |form| %>
  <% if job_seeker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_seeker.errors.count, "error") %> prohibited this job_seeker from being saved:</h2>

      <ul>
      <% job_seeker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :job_seeker_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :job_seeker_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
