<p id="notice"><%= notice %></p>

<h1>Job Seekers</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Email</th>
      <th>Password</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_seekers.each do |job_seeker| %>
      <tr>
        <td><%= job_seeker.fullName %></td>
        <td><%= job_seeker.email %></td>
        <td><%= job_seeker.password %></td>
        <td><%= job_seeker.phone %></td>
        <td><%= link_to 'Show', job_seeker %></td>
        <td><%= link_to 'Edit', edit_job_seeker_path(job_seeker) %></td>
        <td><%= link_to 'Destroy', job_seeker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job Seeker', new_job_seeker_path %>
