<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :job_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :job_description %>
  </div>

  <div class="field">
    <%= form.label :employment_type %>
    <%= form.text_field :employment_type, id: :job_employment_type %>
  </div>

  <div class="field">
    <%= form.label :requirements %>
    <%= form.text_area :requirements, id: :job_requirements %>
  </div>

  <div class="field">
    <%= form.label :responsibilities %>
    <%= form.text_area :responsibilities, id: :job_responsibilities %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= select("job", "company_id", Company.all.collect{ |c| [ c.name, c.id] }) %>
  </div>

  <input type="hidden" id="job_recruiter_id" name="job[recruiter_id]" value="<%= Recruiter.find_by_ruser_id(current_ruser.id).id %>" />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
