<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_name %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :company_website %>
  </div>

  <div class="field">
    <%= form.label :headquarters %>
    <%= form.select :headquarters, ["Alaska",
                                     "Alabama",
                                     "Arkansas",
                                     "American Samoa",
                                     "Arizona",
                                     "California",
                                     "Colorado",
                                     "Connecticut",
                                     "District of Columbia",
                                     "Delaware",
                                     "Florida",
                                     "Georgia",
                                     "Guam",
                                     "Hawaii",
                                     "Iowa",
                                     "Idaho",
                                     "Illinois",
                                     "Indiana",
                                     "Kansas",
                                     "Kentucky",
                                     "Louisiana",
                                     "Massachusetts",
                                     "Maryland",
                                     "Maine",
                                     "Michigan",
                                     "Minnesota",
                                     "Missouri",
                                     "Mississippi",
                                     "Montana",
                                     "North Carolina",
                                     " North Dakota",
                                     "Nebraska",
                                     "New Hampshire",
                                     "New Jersey",
                                     "New Mexico",
                                     "Nevada",
                                     "New York",
                                     "Ohio",
                                     "Oklahoma",
                                     "Oregon",
                                     "Pennsylvania",
                                     "Puerto Rico",
                                     "Rhode Island",
                                     "South Carolina",
                                     "South Dakota",
                                     "Tennessee",
                                     "Texas",
                                     "Utah",
                                     "Virginia",
                                     "Virgin Islands",
                                     "Vermont",
                                     "Washington",
                                     "Wisconsin",
                                     "West Virginia",
                                     "Wyoming"], id: :company_headquarters %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.select :size, ['1-50', '51-200', '201-500', '501-1000', '1000+'], id: :company_size %>
  </div>

  <div class="field">
    <%= form.label :founded %>
    <%= form.number_field :founded, id: :company_founded %>
  </div>

  <div class="field">
    <%= form.label :industry %>
    <%= form.select :industry, ['Software', 'Hardware', 'Automobile', 'Textile', 'Other'], id: :company_industry%>
  </div>

  <div class="field">
    <%= form.label :revenue %>
    <%= form.text_field :revenue, id: :company_revenue %>
  </div>

  <div class="field">
    <%= form.label :synopsis %>
    <%= form.text_area :synopsis, id: :company_synopsis %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
