<%= form_with(model: recruiter, local: true) do |form| %>
  <% if recruiter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recruiter.errors.count, "error") %> prohibited this recruiter from being saved:</h2>

      <ul>
        <% recruiter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :recruiter_name %>
  </div>
  <%= form.label :company_id %>
  <%= select("recruiter", "company_id", Company.all.collect{ |c| [ c.name, c.id] }) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>