<h2>Recruiter Homepage</h2>

<p id="notice"><%= notice %></p>

<br>

<p>
  <strong>Name:</strong>
  <%= @recruiter.name %>
  |
  <strong>Email:</strong>
  <%= @recruiter.email %>
</p>

<!--
<p>
  <strong>Password:</strong>
  <%= @recruiter.password %>
</p>
-->

<br>
<h3>Actions</h3>
<%= link_to 'Edit Profile', edit_recruiter_path(@recruiter) %>
<br><br>
<%= link_to 'Add Company', new_company_path %>
<br><br>

<!--<%= link_to 'Back', recruiters_path %>-->
